<ion-view view-title="About" name="about-view">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">

        <div class="list card">
            <div class="item item-divider">
                Platform
            </div>
            <div class="item">
                Platform: {{ctrl.platform.platform}}
                <br/>
                Version: {{ctrl.platform.platformVersion}}
                <br/>
                <span ng-show="ctrl.platform.isAndroid">running on Android</span>
                <span ng-show="ctrl.platform.isIOS">running on iOS</span>
                <span ng-show="ctrl.platform.isIPad">running on iPad</span>
                <span ng-show="ctrl.platform.isWindowsPhone">running on Windows Phone</span>
                <span ng-show="ctrl.platform.isWebView">running on (Cordova) Web View</span>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                Device info
            </div>
            <div ng-show="isDefinedWithLength(ctrl.platform.deviceInformation)">
                <div class="item">
                    {{platform.deviceInformation}}
                </div>
            </div>
            <div ng-show="!isDefinedWithLength(ctrl.platform.deviceInformation)">
                <div class="item">
                    (none available)
                </div>
            </div>
        </div>

        <button class="button button-calm button-block"
                ng-if="!hasUpdate"
                ng-click="ctrl.downloadContacts()">
            Download contacts
        </button>

        <button class="button button-balanced button-block"
                ng-if="!hasUpdate"
                ng-click="checkForUpdates()" disabled>
            Check for app updates
        </button>

        <button class="button button-energized button-block"
                ng-if="hasUpdate"
                ng-click="doUpdate()" disabled>
            Download app update
        </button>

    </ion-content>

</ion-view>
