<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ctrl.contact.name}}">
    
    <ion-content class="padding">

        <div class="row">
            <div class="col">
                <h1>{{ctrl.contact.name}}</h1> 
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Company</span>
                <input type="text" value="{{ctrl.contact.company}}" disabled>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" value="{{ctrl.contact.email}}" disabled>
            </label>
        </div>
       

        <div class="list">
            <label class="item item-input item-stacked-label"  ng-repeat="contactNumber in ctrl.contact.contactNumbers">
                <span class="input-label">{{contactNumber.type}}</span>
                <input type="text" value="{{contactNumber.number}}" disabled>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label"  ng-repeat="contactRole in ctrl.contact.contactRoles">
                <span class="input-label">Role</span>
                <input ng-if="contactRole.contactGroup.roleName" type="text" value="{{contactRole.contactGroup.title}} ({{contactRole.contactGroup.roleName}}" disabled>
                <input ng-if="contactRole.contactGroup.roleName === undefined" type="text" value="{{contactRole.contactGroup.title}}" disabled>
            </label>
        </div>


        <h4>{{chat.notes}}</h4>
            
    </ion-content>
</ion-view>
