<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-nav-bar>


<ion-view view-title="{{ctrl.contact.name}}">
    
    <ion-content class="padding">

        <div class="row">
            <div class="col">
                <h1>{{ctrl.contact.name}}</h1> 
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Company</span>
                <input type="text" value="{{ctrl.contact.company}}" disabled>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" value="{{ctrl.contact.email}}" disabled>
            </label>
        </div>
       

        <div class="list">
            <label class="item item-input item-stacked-label"  ng-repeat="contactNumber in ctrl.contact.contactNumbers">
                <span class="input-label">{{contactNumber.type}}</span>
                <input type="text" value="{{contactNumber.number}}" disabled>
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label"  ng-repeat="contactRole in ctrl.contact.contactRoles">
                <span class="input-label">Role</span>
                <input ng-if="contactRole.contactGroup.roleName" type="text" value="{{contactRole.contactGroup.title}} ({{contactRole.contactGroup.roleName}}" disabled>
                <input ng-if="contactRole.contactGroup.roleName === undefined" type="text" value="{{contactRole.contactGroup.title}}" disabled>
            </label>
        </div>


        <h4>{{ctrl.contact.notes}}</h4>

    </ion-content>
</ion-view>
