<ion-view view-title="Download">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="secondary">
            <nav-button class="button icon-left ion-log-out button-stable" ng-click="ctrl.logout()">&nbsp;{{ctrl.username}}</nav-button>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-search-strong" ng-click="ctrl.showFilterBar()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content>

        <button class="button button-balanced button-block"
                ng-click="ctrl.downloadContacts()">
            <i class="ion-android-download">
                Download contacts
            </i>
        </button>

    </ion-content>

    <ion-footer-bar class="bar-clear bar-assertive" ng-show="ctrl.message">
        <p class="title">{{ ctrl.message }}</p>
    </ion-footer-bar>

</ion-view>
