<ion-view view-title="{{ctrl.group.name}}">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <nav-button class="button icon-left ion-log-out button-stable" ng-click="ctrl.logout()">&nbsp;{{ctrl.username}}</nav-button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding">

        <div class="row">
            <div class="col">
                <h1>{{ctrl.group.name}}</h1>
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Country</span>
                <input type="text" value="{{ctrl.group.country.title}}" disabled>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" value="{{ctrl.group.email}}" disabled>
            </label>
        </div>
       

        <div class="list">
            <label class="item item-input item-stacked-label"  ng-repeat="contactNumber in ctrl.group.contactNumbers">
                <span class="input-label">{{contactNumber.type}}</span>
                <input type="text" value="{{contactNumber.number}}" disabled>
            </label>
        </div>

        <h4>{{ctrl.group.notes}}</h4>

    </ion-content>
</ion-view>
