<ion-view view-title="Groups">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="secondary">
            <nav-button class="button icon-left ion-log-out button-stable" ng-click="ctrl.logout()">&nbsp;{{ctrl.username}}</nav-button>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-search-strong" ng-click="ctrl.showFilterBar()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true">

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-left"
                      ng-repeat="group in ctrl.groups" type="item-text-wrap" href="#/tab/groups/{{group.$$instanceId}}" >
                <h3>{{group.name}}</h3>
                <p>{{group.country.title}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

  </ion-content>
</ion-view>
