
<ion-tabs class="tabs-icon-bottom tabs-stable">

    <ion-tab title="Home"
             icon-off="ion-android-home"
             icon-on="ion-android-home"
             href="#/tab/contacts">
        <ion-nav-view name="tab-contactables"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Options"
             icon-off="ion-android-settings"
             icon-on="ion-android-settings"
             href="#/tab/options">
        <ion-nav-view name="tab-options"></ion-nav-view>
    </ion-tab>

</ion-tabs>


