<ion-view view-title="Download">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="secondary">
            <nav-button class="button icon-left ion-log-out button-stable" ng-click="ctrl.logout()">&nbsp;{{ctrl.username}}</nav-button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content>

        <div class="card">
            <div class="item">
                <button class="button button-balanced button-block"
                        ng-click="ctrl.downloadContacts()" ng-disabled="isDefined(ctrl.message)">
                    <i class="ion-android-download">
                        Download contacts
                    </i>
                </button>
            </div>
            <div class="item" ng-show="ctrl.message">
                <div class="row row-center">
                    <div class="col col-center">
                        <p>{{ctrl.message}}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="item">
                <button class="button button-assertive button-block"
                        ng-click="ctrl.clearCache()">
                    <i class="ion-android-delete">
                        Remove downloaded contacts
                    </i>
                </button>
            </div>
        </div>


    </ion-content>

</ion-view>
