<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">

        <div class="card" ng-show="error">

            <div class="item item-text-wrap assertive">
                <i class="icon ion-android-warning"></i>
                {{error}}
            </div>
        </div>

        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    Environment
                </div>
                <select ng-model="data.environment">
                    <option>Development</option>
                    <option>Test</option>
                    <option>Production</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username" >
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
    </ion-content>
</ion-view>
