<ion-view view-title="Options">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="secondary">
            <nav-button class="button icon-left ion-log-out button-stable" ng-click="ctrl.logout()">&nbsp;{{ctrl.username}}</nav-button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true">

        <div class="card">
            <div class="item item-text-wrap">
                Download contacts so that they are accessible even while offline.
            </div>
            <div class="item">
                <div class="row">
                    <div class="col">
                        <button class="button button-balanced button-block"
                                ng-click="ctrl.downloadContacts()" ng-disabled="isDefined(ctrl.message)">
                            <i class="ion-android-download">&nbsp;Download</i>
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-assertive button-block"
                                ng-click="ctrl.removeDownloadedContacts()"
                                ng-disabled="ctrl.numberOfDownloadedContacts() === 0">
                            <i class="ion-android-delete">&nbsp;Remove {{ctrl.numberOfDownloadedContacts()}}</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item" ng-show="ctrl.message">
                <div class="row row-center">
                    <div class="col col-center">
                        <p>{{ctrl.message}}</p>
                    </div>
                </div>
            </div>
        </div>


        <ul class="list card">
            <div class="item item-text-wrap">
                How contacts should be shown in the list
            </div>

            <ion-list>
                <ion-radio name="nameOrder"
                           ng-repeat="item in ctrl.preferences.nameOrder.options"
                           ng-value="item.value"
                           ng-model="ctrl.nameOrder"
                           ng-change="updateNameOrder()" >
                    {{ item.text }}
                </ion-radio>
            </ion-list>
        </ul>


        <ul class="list card">
            <div class="item item-text-wrap">
                How scrolling is implemented
            </div>

            <ion-list>
                <ion-radio name="scrolling"
                           ng-repeat="item in ctrl.preferences.scrolling.options"
                           ng-value="item.value"
                           ng-model="ctrl.scrolling"
                           ng-change="updateScrolling()" >
                    {{ item.text }}
                </ion-radio>
            </ion-list>
        </ul>


    </ion-content>

</ion-view>
