<ion-view view-title="Contacts">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="secondary">
            <nav-button class="button icon-left ion-log-out button-stable" ng-click="ctrl.logout()">&nbsp;{{ctrl.username}}</nav-button>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-search-strong" ng-click="ctrl.showFilterBar()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true">

        <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left" 
      ng-repeat="contact in ctrl.contacts" type="item-text-wrap" href="#/tab/contacts/{{contact.$$instanceId}}" >
        <h3>{{contact.name}}</h3>
        <p>{{contact.company}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>


    <!-- TABS -->
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-click="ctrl.goContacts()" ng-class="{ active : settings.tab == 'contacts' }">
            <i class="icon ion-android-contact"></i> Contacts</a>
        <a class="tab-item" ng-click="ctrl.goContactGroups()" ng-class="{ active : settings.tab == 'contactGroups' }">
            <i class="icon ion-android-contacts"></i> Contact Groups</a>
    </div>

</ion-view>
