<ion-view class="tabs-container">

    <!-- Single UI VIEW -->
    <ion-nav-view></ion-nav-view>

    <!-- TABS -->
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-click="ctrl.goContacts()" ng-class="{ active : settings.tab == 'contacts' }">
            <i class="icon ion-android-contact"></i> Contacts</a>
        <a class="tab-item" ng-click="ctrl.goContactGroups()" ng-class="{ active : settings.tab == 'contactGroups' }">
            <i class="icon ion-android-contacts"></i> Contact Groups</a>
    </div>

</ion-view>